header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.site-title {
    margin: 0;
    font-size: 40px;
    color: #beb7a4;
}

/* Navigation */
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
}

.nav-btn {
    text-decoration: none;
    color: #beb7a4;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.nav-btn:hover,
.nav-btn.active {
    background-color: #beb7a4;
    color: white;
}

/* User Dropdown */
.user-menu {
    position: relative;
}

.user-btn {
    background: none;
    font-size: 16px;
    color: #beb7a4;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.user-menu .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(0, 0, 0);
    min-width: 120px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 6px;
    z-index: 100;
}

.user-menu:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #beb7a4;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

footer {
    width: 100%;
    padding: 20px 0;
    margin-top: 50px; /* Space between the container and footer */
    background-color: rgba(0, 0, 0, 0.7); /* Dark glass footer */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}

.fake-copy {
    font-size: 1.0rem;
    margin-bottom: 5px;
    margin-left: 20px;
    opacity: 0.8;
    justify-content: left;
}
