body {
    font-family: "League Spartan", sans-serif;
    background-color: #1d4e89; /* fallback background */
    margin: 0;
    padding: 0;
}

body.citations-page {
    font-family: "League Spartan", sans-serif;
    background-image: url('picture-for-claim-page.jpg');
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    min-height: auto;
    margin: 8% auto; /* centers horizontally */
    padding: 40px;
    background-color: rgba(210, 202, 186, 0.603);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.citations-page .container {
    max-width: 1000px;
    margin: 100px auto;
    text-align: left;
}

* {
    box-sizing: border-box;
}

section {
  margin-bottom: 2rem;
}

a {
    color: #4F7F8A;
    font-weight: bold;
}

h2 {
  margin-bottom: 0.5rem;
  color: #000000;
}

ul {
  margin-left: 1.2rem;
}

li {
  margin-bottom: 1rem;
  line-height: 1.5;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #555;
}
