body {
  font-family: Arial, sans-serif;
  background: #1d4e89;
  margin: 0;
}

header {
  background: #1d4e89;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  background: #f2c94c; 
  color: #1d4e89; 
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  transition: 0.2s;
}

.nav-btn:hover {
  background: #d4aa2e; 
  color: white;
}


header nav a {
  margin-left: 15px;
  color: #f2c94c;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
  gap: 20px;
}

.card {
  background: #f2c94c;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.card img {
  width: 100%;
  border-radius: 6px;
}

button {
  background: #1d4e89;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 8px;
}

button:hover {
  background: #163b66;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input, .form textarea {
  width: 95%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.tag {
  display: inline-block;
  background: #f2c94c;
  padding: 5px 10px;
  border-radius: 8px;
}